<div id="footer" class="m-5 pt-10">
    <div>
        {{ $logo := resources.Get "svg/azurecrewlogo.svg" }}
        <img src="{{ $logo.RelPermalink }}" alt="{{ .Title }} logo" class="h-10 mb-4" />
        <p class="text-sm">
            Thanks for visiting our website! Hope to hear from you soon.
            Thanks for visiting our website! Hope to hear from you soon.
            Thanks for visiting our website! Hope to hear from you soon.
        </p>
        <div class="h-3"> </div>
        <h3 class="mt-5 mb-2">
            Contact us
        </h3>
        <div>
            <div class="flex items-center">
                <ion-icon class="mr-2" name="call"></ion-icon> <span>+1 (514) 999-9999</span>
            </div>
            <div class="flex items-center">
                <ion-icon class="mr-2" name="mail"></ion-icon> <span>contact@azurecrew.com</span>
            </div>
        </div>
        <div class="border-b border-gray-400 h-5 mb-5"> </div>
        <div class="flex justify-center">
            <div class="text-sm text-center max-w-[200px]">&copy; Copyright 2022, Azure Crew. <br> All Rights Reserved
            </div>
        </div>
    </div>
</div>