<div class="mt-4 p-5">

    <h2 class="my-5 text-4xl">
        Modern design.
        Strong framework
    </h2>
    <p>
        The changing media and technology landscape requires a new kind of creative
        agency with innovation and creativity at its core
    </p>
</div>
<div id="top-services-list" class="mt-5 flex flex-col sm:flex-row">
    <div class="border border-black p-4 m-5">
        <div>
            <ion-icon name="server-outline" style="--ionicon-stroke-width: 2px; font-size: 96px;">
            </ion-icon>
        </div>
        <div class="mb-2 font-bold text-lg">Unique features</div>
        <div class="text-gray-500 font-light text-sm">
            Elegant, simple and function design. Everyone who sees your site will
            be delighted and will most likely want to contact you.
        </div>
    </div>
    <div class="border border-black p-4 m-5">
        <div>
            <ion-icon name="server-outline" style="--ionicon-stroke-width: 2px; font-size: 96px;">
            </ion-icon>
        </div>
        <div class="mb-2 font-bold text-lg">Unique features</div>
        <div class="text-gray-500 font-light text-sm">
            Elegant, simple and function design. Everyone who sees your site will
            be delighted and will most likely want to contact you.
        </div>
    </div>
</div>
