{{ define "main" }}

<div id="all">

  {{ partial "nav.html" . }}

  {{ partial "jumbo_carousel.html" . }}

  {{/*  Main blurb  */}}
  <div class="flex justify-center">
    <div class="mt-10 p-5 max-w-2xl">
      {{ .Content }}
    </div>
  </div>

  {{/*  List of services (top 3)  */}}
  <div id="top-services-list" class="flex flex-col justify-center sm:flex-row">
    {{ $o365typeform := printf "%s#selected_services=Office%20365" .Site.Params.TypeformURL}}
    {{ partial "service_card.html" 
      (dict "servicetitle"        "Microsoft O365" 
            "servicedescription"  "Identity Management - Licensing - Exchange Online - Teams - Administration" 
            "typeformurl"         $o365typeform) }}
    {{ partial "service_card.html" 
      (dict "servicetitle"        "Azure Cloud Migration" 
            "servicedescription"  "Going Hybrid - Virtual Machine Migration - Server Migration - Applications - Azure Arc" 
            "typeformurl"         .Site.Params.TypeformURL) }}
    {{ partial "service_card.html" 
      (dict "servicetitle"        "Azure Security and Compliance"
            "servicedescription"  "MS cloud defender Score - Sentinel - MCAS Cloud App Security - Security Alerting - DLP" 
            "typeformurl"         .Site.Params.TypeformURL) }}
  </div>

  {{/*  More services button  */}}
  <div class="flex justify-center p-10">
    <div id="read-story-btn" class="
    max-w-xs self-center
    mb-3 py-3 pl-14 pr-4 rounded-full 
    border border-black
    bg-white  text-black hover:bg-black hover:text-white
    flex flex-row items-center justify-center">
      <span class="mr-8 pt-1 text-sm font-semibold">More services</span>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
  </div>


  {{/*  Leader banner  */}}
  {{ $leaderBG := resources.Get "img/DSC_0365.jpg" | images.Filter (images.GaussianBlur 20) (images.Brightness -10) }}
  <div id="leader-banner" style='background-image: url("{{ $leaderBG.RelPermalink }}");'
    class="bg-fixed bg-cover bg-center p-5 text-white flex flex-col items-center">
    {{/* Leader content container  */}}
    <div class="flex-shrink max-w-screen-lg flex flex-wrap items-center justify-center">
      {{/*  Leader blurb  */}}
      <div class="max-w-xl m-6">
        <h2 class="my-5 text-2xl">
          Leading businesses into the future of cloud computing
        </h2>
        <div class="text-sm">
          Meet Bobby Oustapassidis, the CEO of Azure Crew.
          With almost two decades of experience in the IT industry,
          Bobby is a seasoned professional with a passion for Cloud Computing.
          His extensive experience in workstation architecture, system administration,
          and Azure administration has made him a go-to expert for businesses looking
          to streamline their operations and secure their data. Bobby's resourceful
          and efficient approach to problem-solving, combined with his commitment to
          quality and security compliance, has helped him build a team of experts at
          Azure Crew who are dedicated to providing top-notch cloud solutions to clients.
        </div>
      </div>

      {{/*  Profile/Button combo  */}}
      <div class="flex flex-col">
        {{/*  Leader profile card  */}}
        <div class="flex h-full">
          {{/*  image  */}}
          {{ $bobbyProfile := resources.Get "img/boustaps-profile.jpg"}}
          {{ $bobbyProfile := $bobbyProfile.Crop "250x250"}}
          <div style='background-image: url("{{ $bobbyProfile.RelPermalink }}");'
            class="flex-shrink-0 h-20 w-20 mr-5 rounded-full bg-cover">
          </div>
          {{/*  text  */}}
          <div class="flex-shrink-0">
            <div class="font-bold">
              Bobby Oustapassidis
            </div>
            <p class="text-sm">Master Azure Admin, <br> CEO/Founder @ Azure Crew</p>
          </div>
        </div>

        {{/*  Meet the team button  */}}
        <a href="/about" class="
          w-80 self-center
          my-3 py-3 pl-14 pr-4 rounded-full 
          bg-white  text-black hover:bg-black hover:text-white
          flex flex-row items-center justify-center">
          <span class="mr-8 pt-1 text-sm font-semibold">Meet the team</span>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- /#all -->
{{ end }}


{{/*  <!--    {{ partial "top.html" . }}

{{ partial "nav.html" . }}

{{ partial "carousel.html" . }}

{{ partial "features.html" . }}

{{ partial "testimonials.html" . }}

{{ partial "see_more.html" . }}

{{ partial "recent_posts.html" . }}

{{ partial "clients.html" . }}

{{ partial "footer.html" . }} --> */}}