{{ define "main" }}

<div id="all">

  {{ partial "nav.html" . }}

  {{ partial "jumbo_carousel.html" . }}


  <div class="mt-5 p-5">
    {{ .Content }}
  </div>
  <div id="top-services-list" class="mt-5 flex flex-col sm:flex-row">
    {{ partial "service_card.html" . }}
    {{ partial "service_card.html" . }}
    {{ partial "service_card.html" . }}
  </div>
  <div class="flex justify-center p-10">
  <div id="read-story-btn" class="
    max-w-xs self-center
    mb-3 py-3 pl-14 pr-4 rounded-full 
    border border-black
    bg-white  text-black hover:bg-black hover:text-white
    flex flex-row items-center justify-center">
      <span class="mr-8 pt-1 text-sm font-semibold">More services</span>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
  </div>
</div>

  {{ $servicesBG := resources.Get "img/DSC_0365.jpg" | images.Filter (images.GaussianBlur 20) (images.Brightness -10) }}
  <div id="services-banner" style='background-image: url("{{ $servicesBG.RelPermalink }}");'
    class="bg-fixed bg-cover bg-center p-5 text-white flex flex-col">
    <h2 class="my-5 text-2xl">
      Modern design.
      Strong framework
    </h2>
    <div class="text-sm mb-10">
      The changing media and technology landscape requires a new kind of creative
      agency with innovation and creativity at its core
    </div>

    <div class="flex items-center h-full mb-10">
      <div>
        {{ $bobbyProfile := resources.GetRemote "https://media-exp1.licdn.com/dms/image/C4E03AQHHsrgkC4j19g/profile-displayphoto-shrink_800_800/0/1663355148448?e=1676505600&v=beta&t=0gWhfG8hPbOUVXizYQHcjbzuVkOvCnQD6plhNgzgSDs"}}
        {{ $bobbyProfile := $bobbyProfile.Crop "250x250"}}
        <div style='background-image: url("{{ $bobbyProfile.RelPermalink }}");'
          class="h-20 w-20 mr-5 rounded-full bg-cover">
        </div>
      </div>
      <div>
        <div class="font-bold">
          Bobby Oustapassidis
        </div>
        <p class="text-sm">Master Azure Admin, <br> CEO/Founder @ Azure Crew</p>
      </div>
    </div>

    <div id="read-story-btn" class="
    max-w-xs self-center
    mb-3 py-3 pl-14 pr-4 rounded-full 
    bg-white  text-black hover:bg-black hover:text-white
    flex flex-row items-center justify-center">
      <span class="mr-8 pt-1 text-sm font-semibold">Read our story</span>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
  </div>
</div>
<!-- /#all -->
{{ end }}


{{/*  <!--    {{ partial "top.html" . }}

{{ partial "nav.html" . }}

{{ partial "carousel.html" . }}

{{ partial "features.html" . }}

{{ partial "testimonials.html" . }}

{{ partial "see_more.html" . }}

{{ partial "recent_posts.html" . }}

{{ partial "clients.html" . }}

{{ partial "footer.html" . }} --> */}}