{{ define "main" }}
  <div id="all">
    {{ partial "nav.html" . }}
    {{ partial "jumbo_carousel.html" . }}
    {{/* Spacer
      for little dots
    */}}
    <div class="h-10"></div>

    {{/* Main blurb */}}{{ .Content }}
  </div>
  <!-- /#all -->
{{ end }}
{{/* <!--    {{ partial "top.html" . }}

{{ partial "nav.html" . }}

{{ partial "carousel.html" . }}

{{ partial "features.html" . }}

{{ partial "testimonials.html" . }}

{{ partial "see_more.html" . }}

{{ partial "recent_posts.html" . }}

{{ partial "clients.html" . }}

{{ partial "footer.html" . }} --> */}}
