<div class="w-full max-w-screen-lg flex flex-col justify-between mb-5">
  {{ $count := .Get "count" }}
  {{ with .Site.GetPage "/about" }}
    {{ if not $count }}
      {{ $count = .Pages | len }}
    {{ end }}
    {{ range first $count .Pages }}
      <div class="card card-compact sm:card-side shadow-xl my-4">
        <figure class="w-[320px] flex-shrink-0">
          <img
            class="w-[320px]"
            width="320px"
            height="320px"
            src="{{ .Params.picture }}"
            alt="Profile picture of {{ .Title }}"
          />
        </figure>
        <div class="card-body">
          <div class="card-title">{{ .Title }}</div>
          <div class="text-gray-700 italic text-sm">{{ .Summary }}</div>
          <div class="[&>ul]:list-disc [&>p]:mb-2 text-sm flex-grow">
            {{ .Content }}
          </div>
        </div>
      </div>
    {{ end }}
  {{ end }}
</div>
