<div
  class="flex flex-col justify-between items-center text-center w-56 p-5 m-5 rounded shadow-md shadow-gray"
>
  <div class="justify-self-start">
    {{ $path := .Get "photo" }}
    {{ $photo := resources.Get $path }}
    {{/* {{ $photo
      := $photo.Crop "250x250"
    }}
    */}}
    {{ $photo := $photo.Filter
      (images.Grayscale)
    }}
    <div
      style='background-image: url("{{ $photo.Permalink }}");'
      class="mb-5 h-[175px] w-[175px] rounded bg-cover"
    ></div>
  </div>
  <div>
    <div class="font-bold text-2xl">{{ .Get "fullname" }}</div>
    <p class="text-sm">{{ .Get "details" }}</p>
    <div class="flex justify-center text-gray-600 text-2xl">
      <ion-icon class="mx-3" name="logo-linkedin"></ion-icon>
      <ion-icon class="mx-3" name="logo-twitter"></ion-icon>
      <ion-icon class="mx-3" name="logo-github"></ion-icon>
    </div>
  </div>
</div>
