<div class="flex flex-col items-center text-center h-full mt-10 mb-16">
    <div>
        {{$path := .Get "photo"}}
      {{ $photo := resources.Get $path}}
      {{/*  {{ $photo := $photo.Crop "250x250" }}  */}}
      {{ $photo := $photo.Filter (images.Grayscale)}}
      <div style='background-image: url("{{ $photo.Permalink }}");'
        class="mb-5 h-[200px] w-[200px] rounded-full bg-cover"> </div>
    </div>
    <div>
      <div class="font-bold text-2xl">
        {{ .Get "fullname" }}
      </div>
      <p class="text-sm">
        {{ .Get "details"}}
      </p>
      <div class="flex justify-center text-gray-600 text-2xl">
        <ion-icon class="mx-3" name="logo-linkedin"></ion-icon>
        <ion-icon class="mx-3" name="logo-twitter"></ion-icon>
        <ion-icon class="mx-3" name="logo-github"></ion-icon>
      </div>
    </div>
  </div>